@model IEnumerable<SinExWebApp20328991.ViewModel.ShipmentsListViewModel>

@if (Model.Any())
{
    <p>The following are te shipments forthe specified account.</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WaybillId)
        </th>
        <th>
            @Html.ActionLink("Service Type", "GenerateHistoryReport",new { SortOrder = ViewBag.ServiceTypeSortParm,
           currentShippingAccountId = ViewBag.currentShippingAccountId,
           currentServiceType =ViewBag.currentServiceType,currentShippedDate=ViewBag.currentShippedDate,
           currentDeliveredDate = ViewBag.currentDeliveredDate,
           currentRecipientName = ViewBag.currentRecipientName,
           currentOrigin = ViewBag.currentOrigin,
           currentDestination = ViewBag.currentDestination,

       })
            @Html.DisplayNameFor(model => model.ServiceType)
        </th>
        <th>
            @Html.ActionLink("Shipped Date", "GenerateHistoryReport", new
       {
           SortOrder = ViewBag.ShippedDateSortParm,
           currentShippingAccountId = ViewBag.currentShippingAccountId,
           currentServiceType = ViewBag.currentServiceType,
           currentShippedDate = ViewBag.currentShippedDate,
           currentDeliveredDate = ViewBag.currentDeliveredDate,
           currentRecipientName = ViewBag.currentRecipientName,
           currentOrigin = ViewBag.currentOrigin,
           currentDestination = ViewBag.currentDestination,

       })
            @Html.DisplayNameFor(model => model.ShippedDate)
        </th>
        <th>
            @Html.ActionLink("Delivered Date", "GenerateHistoryReport", new
       {
           SortOrder = ViewBag.DeliveredDateSortParm,
           currentShippingAccountId = ViewBag.currentShippingAccountId,
           currentServiceType = ViewBag.currentServiceType,
           currentShippedDate = ViewBag.currentShippedDate,
           currentDeliveredDate = ViewBag.currentDeliveredDate,
           currentRecipientName = ViewBag.currentRecipientName,
           currentOrigin = ViewBag.currentOrigin,
           currentDestination = ViewBag.currentDestination,

       })
            @Html.DisplayNameFor(model => model.DeliveredDate)
        </th>
        <th>
            @Html.ActionLink("Recipient Name", "GenerateHistoryReport", new
       {
           SortOrder = ViewBag.RecipientNameSortParm,
           currentShippingAccountId = ViewBag.currentShippingAccountId,
           currentServiceType = ViewBag.currentServiceType,
           currentShippedDate = ViewBag.currentShippedDate,
           currentDeliveredDate = ViewBag.currentDeliveredDate,
           currentRecipientName = ViewBag.currentRecipientName,
           currentOrigin = ViewBag.currentOrigin,
           currentDestination = ViewBag.currentDestination,

       })
            @Html.DisplayNameFor(model => model.RecipientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPackages)
        </th>
        <th>
            @Html.ActionLink("Origin", "GenerateHistoryReport", new
       {
           SortOrder = ViewBag.OriginSortParm,
           currentShippingAccountId=ViewBag.currentShippingAccountId,
           currentServiceType = ViewBag.currentServiceType,
           currentShippedDate = ViewBag.currentShippedDate,
           currentDeliveredDate = ViewBag.currentDeliveredDate,
           currentRecipientName = ViewBag.currentRecipientName,
           currentOrigin = ViewBag.currentOrigin,
           currentDestination = ViewBag.currentDestination,

       })
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.ActionLink("Destination", "GenerateHistoryReport", new
       {
           SortOrder = ViewBag.DestinationSortParm,
           currentShippingAccountId = ViewBag.currentShippingAccountId,
           currentServiceType = ViewBag.currentServiceType,
           currentShippedDate = ViewBag.currentShippedDate,
           currentDeliveredDate = ViewBag.currentDeliveredDate,
           currentRecipientName = ViewBag.currentRecipientName,
           currentOrigin = ViewBag.currentOrigin,
           currentDestination = ViewBag.currentDestination,

       })
            @Html.DisplayNameFor(model => model.Destination)
        </th>
  
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WaybillId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPackages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
     
       
    </tr>
}

</table>
